body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
}
div {
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgb(40, 90, 90);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#todo-input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
#todo-form button {
    width: 100%;
    padding: 10px;
    background-color: darkcyan;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
#todo-form button:hover {
    background-color: rgb(1, 109, 109);
}
#todo-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: white;
}
#todo-list li input[type="checkbox"] {
    margin-right: 12px;
}
.completed span {
    text-decoration: line-through;
    color: #888;
}
.delete-btn {
    background: none;
    border: none;
    color: #888;
    font-size: 22px;
    cursor: pointer;
    margin-left: auto;
}
.delete-btn:hover {
    color: firebrick;
}