body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
}
div {
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: darkslategrey;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
input [type="text"] {
    padding: 15px 15px
    

}